// colors variables
$website-background: #fff;

$background-color-1: #f3f1ec;
$background-color-2: #ffb18b;

$font-color-1: #808369;
$font-color-2: #434343;
$font-color-3: #929292;

$border-color-1: #d0ceca;
$border-color-2: #a7a99a;

$hover-color-1: #e78a61;
$hover-color-2: #f6f4f0;
