// footer styles

// to top button
.re-up-button-container {
    position: relative;

    a {
        display: flex;
        color: $hover-color-2;
        height: 7.8em;
        background: white;
        position: absolute;
        bottom: -3.5em;
        width: 7.8em;
        border-radius: 50%;
        left: calc(50% - 3.9em);
        justify-content: flex-start;
        text-decoration: none;
        flex-direction: column;
        align-items: center;
        padding-top: 1.3em;
        transition: background .5s ease, padding-top .5s ease;

        span {
            @extend .text-style-2;
            text-transform: uppercase;

            i {

            }

        }

    }

    a:hover {
        background: $hover-color-1;
        padding-top: 2.3em;

        span {
            color: #fff;
        }
    }

}


// branding bar
.site-branding__footer {
    @extend .site-branding;
    max-width: 56em;
    margin-top: 6.3em;
    align-items: center;

    & > div {
        margin-top: 0;
    }

    .site-branding__address {
        @extend .site-branding__cart;
        text-align: left;

        span {
            @extend .text-style-1;
        }

    }
}


// social networks
.site-footer__socials {
    display: flex;
    justify-content: center;

    ul {
        margin: 5.2em 0 0 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-around;
        min-width: 13em;

        li {

            a {
                background: $border-color-2;
                width: 2.8em;
                display: flex;
                height: 2.8em;
                border-radius: 50%;
                justify-content: center;
                align-items: center;
                transition: background .5s ease;
            }

            a:hover {
                background: $hover-color-1;
            }

        }

    }

}


// copyright
.site-footer__copy {
    @extend .text-style-2;
    padding: 0 1em;
    text-align: center;
    margin: 4em 0;

    a {
        color: inherit;
    }

}
