// text styles
.text-style-1 {
    color: $font-color-1;
    text-transform: uppercase;
    font-family: PT serif, serif;
    letter-spacing: .08em;
}

.text-style-2 {
    color: $font-color-3;
    font-family: PT serif, serif;
    font-size: .9em;
}

.text-style-title-1 {
    color: $font-color-1;
    text-transform: uppercase;
    font-family: PT serif, serif;
    letter-spacing: .08em;
}

.text-style-title-2 {
    color: $font-color-2;
    font-family: PT serif, serif;
    letter-spacing: .06em;
    font-size: 2.1em;
    line-height: 1.35em;
}

.text-style-button {
    color: #fff !important;
    text-transform: uppercase;
    font-family: PT serif, serif;
    letter-spacing: .24em;
    font-size: 14px !important;
}
